{% extends 'cliente/index.html.twig' %}

{% block title %}{{parent()}} - Consultar Comercio{% endblock %}

{% block body %}

{{parent()}}

<div class="container h-100 " style="margin-top:60px">
    <div class="row h-100-justify-content-center align-items-center ">
        <div class="col-6 bg-white rounded my-3 p-5">
        {{form(comercio)}}
        </div>
    </div>
</div>

{% endblock %}