{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Administrador{% endblock %}

{% block body %}

{# Barra de navegación #}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Guía Comercial</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Inicio</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuarios <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Buscar usuario</a></li>
                        <li><a href="#">Registrar usuario</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Empresas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Buscar empresa</a></li>
                        <li><a href="#">Registrar empresa</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Comercios <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Buscar comercio</a></li>
                        <li><a href="#">Registrar comercio</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Ofertas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Buscar oferta</a></li>
                        <li><a href="#">Registrar oferta</a></li>
                    </ul>
                </li>
                <li><a href="#">Notificaciones</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Copias de seguridad <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Crear copia de seguridad</a></li>
                        <li><a href="#">Restaurar copia de seguridad</a></li>
                    </ul>
                </li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Mi perfil</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ver mi perfil</a></li>
                        <li><a href="#">Editar mi perfil</a></li>
                        <li><a href="#">Borrar mi perfil</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>
</div>
{% endblock %}
